:root {
    //color
    --primary-color: #0057FC;
    --primary-text: #0E182D;
    --primary-color-10: #0058fc10;
    --primary-color-hover: #003fb4;
    --gray: #606781;
    --gray-300: #b4b4b4;
    --gray-100: #E2E2E2;
    --gray-80: #e7e7e7;
    --gray-50: #f1f1f1;
    --gray-10: #f4f4f4;
    --air-50: #00AC78;
    --white-20: #ffffff20;
    --color-card-3-1: #E9EFFF;
    --color-card-3-2: #bcc7ff;
    --color-card-3-3: #000081;
    --color-card-3-4: #DAF2E1;
    --color-card-3-5: #abddba;
    --color-card-3-6: #003800;
    //width
    --left-menu: 340px;
    --icon-svg: 16px;
    --width-popup-infor: 200px;
    --col-24: 24px;
    --col-32: 32px;
    --col-48: 48px;
    --col-56: 56px;
    --col-72: 72px;
    //radius
    --border-radius-A: 1px;
    --border-radius-B: 2px;
    --border-radius-C: 3px;
    --border-radius-D: 4px;
    --border-radius-E: 6px;
    --border-radius-F: 8px;
    --border-radius-X: 100px;
    //border 
    --border-A: 1px solid var(--gray-50);
    --border-B: 1px solid var(--white-20);
    //background
    --white: #fff;
    //Padding
    --padding-A: 2px;
    --padding-B: 4px;
    --padding-C: 8px;
    --padding-D: 10px;
    --padding-E: 12px;
    --padding-F: 16px;
    --padding-G: 18px;
    --padding-H: 20px;
    --padding-CF: 8px 16px 8px 8px;
    //margin 
    --margin-I: 32px;
    --margin-H: 16px;
    --margin-G: 14px;
    --margin-F: 12px;
    --margin-E: 10px;
    --margin-D: 8px;
    --margin-C: 4px;
    --margin-B: 2px;
    --margin-A: 1px;
    //Scale active button
    --scale-zoom: scale(0.9);
    //font
    --font-size-input: 12px;
    --font-size-10: 10px;
    --line-height-input: 16px;
    //transition 
    --transition: all ease-in 0.2s;
    --transition-1: all ease-in 0.1s;
    //shadow
    --box-shadow: 0px 20px 70px rgba(0, 0, 0, 0.2);
}

//reset
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

::-webkit-scrollbar {
    background-color: transparent !important;
    width: 5px !important;
    height: 5px !important;
}

::-webkit-scrollbar-button {
    display: none !important;
}

::-webkit-scrollbar-track {
    background-color: transparent !important;
}

::-webkit-scrollbar-thumb {
    background-color: var(--gray-300);
    border-radius: 5px;
}


//font
* {
    font-family: 'Roboto', sans-serif;
}

//icon
.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--padding-D);
    border-radius: var(--border-radius-D);
    cursor: pointer;
    transition: var(--transition-1);
    user-select: none;

    .icon-svg {
        width: var(--icon-svg);
        height: var(--icon-svg);
        fill: currentColor;

        path,
        mask {
            fill: currentColor
        }
    }

    &:active {
        // fill: saturate(1.5);

        .icon-svg {
            transform: var(--scale-zoom);
        }

    }

    &:hover {
        background-color: var(--primary-color-10) !important;
        color: var(--primary-color) !important;
        transition: var(--transition-1);
    }

    &.active {
        background-color: var(--primary-color);
        color: var(--white);
    }
}

//tab 
.tab-icon-text {
    user-select: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: var(--padding-C);
    font-size: var(--font-size-input);
    font-weight: 400;
    line-height: var(--line-height-input);
    background-color: var(--gray-100);
    border-radius: var(--border-radius-X);
    // overflow: hidden;
    margin: 0 var(--margin-D);
    color: var(--gray);
    transition: var(--transition-1);
    position: relative;

    &>div {
        margin: 0 var(--margin-D);
    }

    .icon-svg {
        width: var(--icon-svg);
        height: var(--icon-svg);
        fill: currentColor;
        // margin-right: var(--margin-C);

        path,
        mask {
            fill: currentColor
        }
    }

    &:active {
        fill: saturate(1.5);

        .icon-svg {
            transform: var(--scale-zoom);
        }

    }

    &:hover {
        background-color: var(--primary-color-hover) !important;
        color: var(--white) !important;
        transition: var(--transition-1);
    }

    &.active {
        background-color: var(--primary-color);
        color: var(--white);
        transition: var(--transition-1);

    }

}

.tab-icon-line {
    user-select: none;
    display: flex;
    line-height: var(--line-height-input);
    // overflow: hidden;
    transition: var(--transition-1);

    .tab {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .icon {
            border-radius: 0;
            padding: var(--padding-E);
            background-color: transparent !important;
        }

        .line-status {
            height: 1px;
            background-color: var(--white);
        }

        .line-transperent {
            height: 1px;
            background-color: transparent;
        }

        &:hover {
            background-color: var(--primary-color-10);

            .line-status {
                background-color: var(--primary-color);
                transition: var(--transition);
            }

        }

        &.active {
            color: var(--primary-color);
            transition: var(--transition-1);

            .line-status {
                background-color: var(--primary-color) !important;
                transition: var(--transition);
            }
        }
    }

    .space {
        flex: 1;
        pointer-events: none;

        .icon {
            opacity: 0;
        }
    }

}

#content-tab2 {
    display: none;
}

//scroll
.scroll-in-table {
    overflow: hidden;
    flex: 1;
    height: calc(100% - 44px - 1px - 2*var(--padding-F));
}

//card
.margin-F {
    min-height: var(--margin-F);
    height: var(--margin-F);
}
.margin-H {
    min-height: var(--margin-H);
    height: var(--margin-H);
}
.content-tab {
    display: flex;
    flex-direction: column;
    overflow: hidden auto;
    flex: 1;
}

.pin-location {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: var(--margin-C);
    margin-top: var(--margin-F);
    width: 100%;

    .card-5 {
        border-radius: var(--border-radius-D);
    }
}

.card-1 {
    display: flex;
    flex-direction: column;
    padding: var(--padding-F);
    border-bottom: var(--border-A);
    width: calc(100% - 2*var(--padding-F));

    .title {
        font-size: 18px;
        font-weight: 600;
        margin-bottom: var(--margin-D);
        display: flex;
        align-items: center;

        :first-child {
            flex: 1;
        }
    }

    .title-medium {
        font-size: 13px;
        font-weight: 600;
        margin-bottom: var(--margin-D);
    }

    .discription {
        font-size: var(--font-size-input);
        display: flex;
        align-items: center;
        line-height: 148%;
    }

    .title-tab-expand {
        display: flex;
        align-items: center;
        font-size: 12px;
        font-weight: 500;
        user-select: none;

        .tab {
            flex: 1;
        }

        &>:last-child {
            margin-left: var(--margin-D);
        }

        &>:first-child {
            margin-right: var(--margin-D);
        }

        &>div {
            display: flex;
            align-items: center;

            &>:first-child {
                margin-right: 0;
            }

            .tab-icon-text {
                padding: var(--padding-A);

                &>div {
                    font-size: var(--font-size-10);
                    margin: 0 var(--margin-D);
                }
            }
        }

        .icon {
            padding: var(--padding-C);
        }

        .non-interactive {
            padding: 0;
            pointer-events: none;
        }

        svg {
            width: 12px;
            height: 12px;
            fill: var(--primary-color);
        }

        .expand {
            cursor: pointer;
        }

    }
}

.card-2 {
    background-color: var(--air-50);
    border-radius: var(--border-radius-D);
    margin-top: var(--margin-D);
    fill: var(--white);
    color: var(--white);

    &>:nth-child(2) {
        padding: var(--padding-B) var(--padding-B) var(--padding-D) var(--padding-B)  !important;
    }

    .row-card {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: var(--padding-B) var(--padding-D);

        .tab-icon-text {
            margin: 0;
            background-color: transparent;
            pointer-events: none;
            color: var(--white);
            padding: var(--padding-C) 0;
            .icon-svg {
                width: 12px;
                height: 12px;
            }

        }

        .ilustrtion {
            padding: 0 var(--padding-F);
        }

        .info-number {
            display: flex;
            flex-direction: column;
            padding: 0 var(--padding-F);
            flex: 1;
            border-left: var(--border-B);

            .title {
                font-size: var(--font-size-10);
                font-weight: 400;
                opacity: 0.6;

            }

            .number {
                font-size: 24;
                font-weight: 00;
                display: flex;
                align-items: baseline;

                .unit {
                    font-size: var(--font-size-10);
                    font-weight: 400;
                    opacity: 0.6;
                    margin-left: var(--margin-C);
                }
            }
        }


    }

    .bg-1 {
        background-color: var(--white-20);
    }
}

.card-3 {
    margin-top: var(--margin-E);
    display: flex;
    padding: var(--padding-F) var(--padding-E);
    border-radius: var(--border-radius-D);

    .icon {
        border-radius: var(--border-radius-X);
        height: fit-content;
        margin-right: var(--margin-F);
    }
}

.card-5 {
    background-color: var(--air-50);
    color: var(--white);
    padding: var(--padding-D);

    .location-name {
        display: flex;
        align-items: center;
        font-size: var(--font-size-input);
        font-weight: 600;
        margin-bottom: var(--margin-C);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        :first-child {
            flex: 1;
        }
    }

    .icon {
        transform: scale(0);
        transition: var(--transition-1);

    }

    .non-interactive {
        padding: 0;
        fill: var(--white);
    }

    .infor {
        display: flex;
    }

    .no,
    .aqi-number {
        opacity: 0.6;
        font-size: var(--font-size-10);
        margin-right: var(--margin-B);
    }

    &:hover {
        .icon {
            transform: scale(1);
            transition: var(--transition-1);
        }
    }
}

.blue-style {
    background-color: var(--color-card-3-1);
    color: var(--color-card-3-3);

    .icon {
        background-color: var(--color-card-3-2);
        color: var(--white);
    }
}

.green-style {
    background-color: var(--color-card-3-4);
    color: var(--color-card-3-6);

    .icon {
        background-color: var(--color-card-3-5);
        color: var(--white);
    }
}

.green-style-text {
    color: var(--air-50);
}

.green-bg {
    background-color: var(--air-50);
    color: var(--white);
}

//table 
.table {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .header-table {
        display: flex;
        padding: var(--padding-F) var(--padding-B);

    }

    .item {
        display: flex;
        align-items: center;
        font-size: var(--font-size-10);
        color: var(--gray);
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 600;

        svg {
            fill: currentColor;
            cursor: pointer;
        }
    }

    .content-table {
        overflow: hidden auto;
        flex: 1;
    }

    .row-table {
        display: flex;
        align-items: center;
        font-size: var(--font-size-input);
        border-top: var(--border-A);
        padding: var(--padding-B);
        font-weight: 500;

        &>div {
            display: flex;
            align-items: center;

            .icon {
                padding: var(--padding-C);

                &.active {
                    color: var(--primary-color);
                    background-color: transparent;
                }
            }



            .tab-icon-text {
                padding: var(--padding-B);
                margin: 0;
                width: fit-content;
                pointer-events: none;
            }
        }

        &:hover {
            background-color: var(--gray-10);
            transition: var(--transition-1);
        }
    }

    .col-24 {
        width: var(--col-24);
    }

    .col-32 {
        width: var(--col-32);
    }

    .col-48 {
        width: var(--col-48);
    }

    .col-56 {
        width: var(--col-56);
    }

    .flex-1 {
        flex: 1;
    }

    .justify-end {
        justify-content: end;
    }

    .justify-start {
        justify-content: start;
    }
}

.paging {
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--padding-B);

    .number {
        display: flex;
        align-items: center;

        .page {
            cursor: pointer;
            width: 24px;
            height: 24px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: var(--font-size-10);
            background-color: var(--gray-80);
            color: var(--gray);
            border-radius: var(--border-radius-X);
            margin: 0 var(--margin-C);

            &.active {
                color: var(--white);
                background-color: var(--primary-color);
            }

            &:hover {
                background-color: var(--primary-color-10) !important;
                color: var(--primary-color) !important;
                transition: var(--transition-1);
            }

            &.active {
                background-color: var(--primary-color);
                color: var(--white);
            }
        }

    }
}

//popup
.popup-infor-container {
    &:hover {
        .popup-infor {
            display: flex;
        }
    }

    .popup-infor {
        display: none;
        position: absolute;
        flex-direction: column;
        align-items: center;
        top: calc(100% + var(--margin-D));
        left: 0;
        width: 100%;
        filter: drop-shadow(var(--box-shadow));

        .content {
            display: flex;
            background-color: var(--white);
            color: var(--primary-text);
            border-radius: var(--border-radius-F);
            padding: var(--padding-F);
            width: var(--width-popup-infor);

            svg {
                fill: var(--primary-color);
                margin-right: var(--margin-H);
            }

            .title-medium {
                font-size: 13px;
                font-weight: 600;
                margin: var(--margin-C) 0;
            }

            .discription {
                font-size: var(--font-size-input);
                display: flex;
                align-items: center;
                line-height: 148%;
                color: var(--gray);
            }

        }
    }
}

//popup
.popup-infor-container {
    &:hover {
        .popup-infor {
            display: flex;
        }
    }

    .popup-infor {
        display: none;
        position: absolute;
        flex-direction: column;
        align-items: center;
        top: calc(100% + var(--margin-D));
        left: 0;
        width: 100%;
        filter: drop-shadow(var(--box-shadow));

        .content {
            background-color: var(--white);
            color: var(--primary-text);
            border-radius: var(--border-radius-F);
            padding: var(--padding-F);
            width: var(--width-popup-infor);

        }
    }
}

//map
#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

//left-menu
.left-menu {
    display: flex;
    flex-direction: column;
    width: var(--left-menu);
    margin: var(--margin-H);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    height: calc(100vh - 2*var(--margin-H));

}

//menu-search
.menu-search {
    display: flex;
    align-items: center;
    padding: var(--padding-A);
    background-color: var(--white);
    border-radius: var(--border-radius-D);
    box-shadow: var(--box-shadow);

    input {
        flex: 1;
        font-size: var(--font-size-input);
        line-height: var(--line-height-input);
        border: none;
        padding: 0;
        margin: 0;
        height: 100%;
        outline: unset;
    }

    .show-in-searching {
        display: none;
    }

    .show-search {
        display: block !important;
    }

    .hide-search {
        display: none;
    }
}

//main-popup
.main-popup {
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    margin-top: var(--margin-E);
    border-radius: var(--border-radius-D);
    height: calc(var(--icon-svg) + 2*var(--padding-E) + 2px);
    transition: var(--transition);
    box-shadow: var(--box-shadow);
    overflow: hidden;

    &.active {
        height: 100%;
        transition: var(--transition);

        .tab-icon-line>.tab>.line-status {
            background-color: var(--gray-50);
        }

    }
}

//map control
.map-control {
    display: flex;
    flex-direction: column;
    margin: var(--margin-H);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;

    .zoom-control {
        display: flex;
        flex-direction: column;
        background-color: var(--white);
        border-radius: var(--border-radius-X);
        box-shadow: var(--box-shadow);
        overflow: hidden;

    }

    .infor-control {
        display: flex;
        flex-direction: column;
        background-color: var(--white);
        border-radius: var(--border-radius-X);
        margin-top: var(--margin-E);
        box-shadow: var(--box-shadow);
        overflow: hidden;

    }
}

//filter
.filter {
    display: flex;
    margin: var(--margin-H);
    padding: var(--padding-A);
    // background-color: var(--white);
    border-radius: var(--border-radius-X);
    // overflow: hidden;
    position: fixed;
    top: 0;
    left: calc(var(--left-menu) + var(--margin-H));
    z-index: 2;

    &>div {
        box-shadow: var(--box-shadow);
        background-color: var(--white);

    }

    &>:last-child,
    &>:first-child {
        margin: 0;
    }

}

//chart
.apexcharts-canvas .apexcharts-text {
    font-size: 10px;
    font-weight: 400;
    fill: var(--gray);
}

.apexcharts-canvas .apexcharts-gridline {
    stroke: #EFEFEF;
}

body.dark .apexcharts-canvas .apexcharts-gridline {
    stroke: #272B30 !important;
}

.apexcharts-canvas .apexcharts-xcrosshairs.apexcharts-active,
.apexcharts-canvas .apexcharts-ycrosshairs.apexcharts-active {
    stroke: rgba(111, 118, 126, 0.5);
}

.apexcharts-canvas .apexcharts-marker {
    stroke-width: 0;
}

.apexcharts-canvas .apexcharts-tooltip {
    padding: 8px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1), 0px 2px 4px rgba(0, 0, 0, 0.1), inset 0px 0px 1px #000000;
}

.apexcharts-canvas .apexcharts-tooltip-title {
    margin-bottom: 8px;
    padding: 0;
}

.apexcharts-canvas .apexcharts-tooltip-series-group {
    background: none !important;
    padding: 0 !important;
}

.apexcharts-canvas .apexcharts-tooltip-y-group {
    padding: 0;
}

.apexcharts-canvas .apexcharts-tooltip-marker {
    margin-right: 4px;
    border-radius: 4px;
}

.apexcharts-canvas .apexcharts-tooltip-text {
    font-weight: 600;
    color: #FCFCFC;
}

.apexcharts-canvas .apexcharts-tooltip.apexcharts-theme-light {
    border-color: rgba(255, 255, 255, 0.12);
    background: #272B30;
}

.apexcharts-canvas .apexcharts-tooltip.apexcharts-theme-light .apexcharts-tooltip-title {
    background: none;
    border: none;
    color: #EFEFEF;
}

.apexcharts-canvas .apexcharts-legend.position-bottom.apexcharts-align-center,
.apexcharts-canvas .apexcharts-legend.position-top.apexcharts-align-center {
    justify-content: space-between;
}

@media only screen and (max-width: 767px) {

    .apexcharts-canvas .apexcharts-legend.position-bottom.apexcharts-align-center,
    .apexcharts-canvas .apexcharts-legend.position-top.apexcharts-align-center {
        justify-content: center;
    }
}

.apexcharts-canvas .apexcharts-legend-marker {
    border-radius: 4px !important;
}

.apexcharts-canvas .apexcharts-legend-series {
    margin-top: 6px !important;
}

.apexcharts-canvas .apexcharts-legend-text {
    font-weight: 600 !important;
    color: #1A1D1F !important;
}
